services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      POSTGRES_DB: sluagh
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_pass
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U dev_user -d sluagh" ]
      interval: 5s
      timeout: 5s
      retries: 5
